.tbg-text{
  border:  solid 1px; 
  display:  inline-block;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.7); 
}

.tback1{
  background-image:image-url("top_2.jpg");
  background-size:  contain;
  background-size:  250px;
  padding:  15px;
  background-repeat: repeat;
}

.tweets-container {
  text-align:  center;
}

.t-presecond{
  background-image:image-url("back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.tsecond{
  margin-left: 30px;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.t21{
  margin: auto;
  padding: 2px;
}
.t22{
  margin: 0;
  margin-left: 30px;
}

h2{
  margin-left: 50px;
  padding: 20px;
}
.tforth {
  border-top: solid #1E9354;
  margin-top: 10px;
  padding-top: 20px;
  padding: 30px;
  margin: 50px;
}

.tmain-box {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: initial;
}
.left{
  padding: 10px;
  margin: 10px;
}
.right{
  padding: 10px;
  margin: 10px;
}

.time {
  margin-right: 0px;
  display: flex;
  justify-content: flex-end;
}